{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">The Book of Internet</h1>
            <p class="subtitle">
                Be the author for the Book of Internet!
            </p>
        </div>
    </section>
    <section class="section">
        <form action="/upload_post" method="post">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" id="username" required="required">
                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" id="username" placeholder="optional">
                </div>
            </div>

            <div class="field">
                <label class="label">Post</label>
                <div class="control">
                    <textarea class="textarea" type="text" id="username" required="required"></textarea>
                </div>
            </div>

            <input class="button is-link" type="submit" value="Submit">
        </form>
    </section>

    <section class="section">
        <div id="posts" class="container"></div>
        <div id="obs"></div>
    </section>
    <script type="text/javascript">
        var scroller = document.querySelector('#posts')
        var sentinel = document.querySelector('#obs')

        var retrieved_from = 0
        var retrieved_counter = 0

        var more_exists = true
        var is_getting = false

        function load_posts() {
            if (more_exists && retrieved_counter == 0) {
                fetch("http://localhost:5000/get_post_count")
                .then(function(response) {
                    return response.json()
                }).then(function(data) {
                    if (retrieved_from == 0) {
                        retrieved_from = data["count"]
                    }
                    var url_params = "down_to="+(retrieved_from-retrieved_counter).toString()
                    return fetch("http://localhost:5000/get_posts?"+url_params)
                }).then(function(response) {
                    return response.json()
                }).then(function(data) {
                    var posts = data["posts"]
                    for (var i=0; i<posts.length; i++) {
                        var new_post = document.createElement("div")
                        var post_title = document.createElement("h2")
                        var post_content = document.createElement("p")
                        
                        new_post.classList.add("item")
                        post_title.classList.add("subtitle")

                        post_title.textContent = posts[i]["title"]

                        post_content.textContent = posts[i]["post"]

                        new_post.appendChild(post_title)
                        new_post.appendChild(post_content)
                        scroller.appendChild(new_post)
                    }
                    retrieved_counter += posts.length
                    if (retrieved_from == retrieved_counter) {
                        more_exists = false
                    }
                })
            } else if (more_exists) {
                fetch("http://localhost:5000/get_posts?down_to="+(retrieved_from-retrieved_counter).toString())
                .then(function(response) {
                    return response.json()
                }).then(function(data) {
                    var posts = data["posts"]
                    for (var i=0; i<posts.length; i++) {
                        var new_post = document.createElement("div")
                        var post_title = document.createElement("h2")
                        var post_content = document.createElement("p")
                        
                        new_post.classList.add("item")
                        post_title.classList.add("subtitle")

                        post_title.textContent = posts[i]["title"]

                        post_content.textContent = posts[i]["post"]

                        new_post.appendChild(post_title)
                        new_post.appendChild(post_content)
                        scroller.appendChild(new_post)
                    }
                    retrieved_counter += posts.length
                    if (retrieved_from == retrieved_counter) {
                        more_exists = false
                    }
                })
            }
        }

        var intersectionObserver = new IntersectionObserver(entries => {
            if (entries.some(entry => entry.intersectionRatio > 0) && is_getting == false) {
                is_getting = true
                load_posts()
                is_getting = false
            }
        })
        intersectionObserver.observe(sentinel)
    </script>
{% endblock %}
